body {
    margin: 0;
    font-size: 16px;
    font-family: "Times News Roman", Times, serif;
    overflow-x: hidden !important;
}
.rui-row {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}
.rui-left {
    float: left;
}
.rui-right {
    float: right;
}
.rui-block {
    display: block;
}
.rui-center {
    text-align: center;
}
.home {
    height: 100%;
}
.rui_carousel img {
    margin: 0 auto;
}
a:focus, a:hover,a:active{
    text-decoration: none !important;
    color: #d43f3a;
}
.roof {
    background: url(/app/images/index_09.png) no-repeat;
    width: 100%;
    height: 32px;
    z-index: 1000;
    top: 0;
    left: 0;
}

.product_list img {
    width: 297px;
}
.list-unstyle {
    list-style: none;
}
/*自下而上的轮播*/
.dyright{
    width: 638px;
    height: 557px;
    overflow: hidden;
}
.rel {
    position: relative;
}
.fr {
    float: right;
}
.abs {
    position: absolute;
}
.news {
    width: 638px;
    height: 127px;
    margin-bottom: 18px;
}
.newspic {

}
.f1 {

}
.news a {
    color: #303030;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.news img {
    margin-right: 15px;
    width: 142px;
    height: 125px;
    float: left;
}
.news p {
    width: 480px;
    float: left;
    font-size: 14px;
    color: #6d6d6d;
    line-height: 30px;
    border-top: 1px dashed #808080;
    margin-top: 18px;
}
.show-grid {
    margin-top: 30px;
}
.panel-default .panel-body h4{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    color: #d43f3a;
}
.rui-text p img {
    width: 501px;
    height: 467px;
}
.rui-text p {
    color: #8e8e8e;
}
.honor {
    width: 540px;
    height: 1472px;
}