.menuNav {
    background-image: url("../images/index_01.jpg");
    width: 100%;
    height: 202px;
    margin-top: -10px;
}
.menuNav .title {
    padding-top: 50px;
}
.menuNav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
}
.login_href {
    float: right;
    margin-right: 60px;
    display: block;
    margin-top: 20px;
}
.rui-nav {
    width: 60%;
    height: 80px;
    position: absolute;
    left: 55%;
    top: 0%;
    margin-top: 80px;
}
.rui-nav li {
    display: inline;
    list-style-type: none;
    writing-mode: tb-rl;
    text-align: center;
    width: 46px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    border-left: 1px dotted #dddddd;
    margin-right: 25px;
}
.rui-nav li:last-child {
    border-right: 1px dotted #dddddd;
    padding-right: 25px;
    padding-left: 45px;
}
.photo img {
    width: 379px;
    height: 127px;
}

/*childmenu*/
.childMenu {
    float: left;
}
.left-title {
    width: 320px;
    height: 120px;
}
.childMenu h1 {
    color: #ffffff;
    font-weight: 700;
    margin-top: -60px;
    margin-bottom: 40px;
}
.leftMenu {
    width: 267px;
    padding: 20px 10px;
    margin-left: 25px;
    background: #8e8e8e;
    border-radius: 4px;
    box-shadow: 3px 4px 2px #888888;
}
.leftMenu h3 {
    text-align: center;
    color:#fff;
    font-size:18px;
    line-height: 46px;
}
.darkline {
    width: 249px;
    height: 1px;
    background: linear-gradient(to right,#8e8e8e,#a3a3a3,#8e8e8e);
}
.fl-fr {
    margin-right: 35px;
}
.rui-panel {
    min-height: 600px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
}

